<nav class="navbar navbar-expand-lg bg-primary">
  <div class="container-fluid bg-primary">
    <a class="navbar-brand text-light" href="accueil">XPRESS VID</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarText"
      aria-controls="navbarText"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link active text-light"
            aria-current="page"
            href="./films"
            >Films</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link active text-light"
            aria-current="page"
            href="./favoris"
            >Favoris</a
          >
        </li>
      </ul>
      <span class="navbar-text text-light p-2"> Bienvenue </span>
      <? if (session && session.user){ ?>
      <span>
        <?= session.user.prenom ?>
        <?= session.user.nom ?>
      </span>
      <a href="/logout" class="btn text-warning"> Se déconnecter</a>
      <? } else { ?>
      <a
        href="./connexion"
        class="m-1 p-2 text-light text-decoration-none btn btn-success"
        >Se connecter</a
      >
      <a
        href="./inscription"
        class="m-1 p-2 text-light text-decoration-none btn btn-info"
        >S'inscrire</a
      >
      <?} ?>
    </div>
  </div>
</nav>
