<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Page d'inscription</title>
  <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
  <?- include('header.ejs') ?>
  <h1 class="text-center mb-5">Page d'inscription</h1>

  <main class="d-flex flex-row justify-content-center p-2">
    <form style="width: 20rem" method="post">
      <div class="mb-3 ">
        <label for="nom" class="form-label">Nom</label>
        <input type="text" class="form-control" id="nom" name="nom" aria-describedby="emailHelp">
        <label for="prenom" class="form-label">prenom</label>
        <input type="text" class="form-control" id="prenom" name="prenom" aria-describedby="emailHelp">
        <label for="email" class="form-label">Adresse mail</label>
        <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Mot de passe</label>
        <input type="password" class="form-control" id="mdp" name="password">
      </div>
      <div class="text-center">
      <button type="submit" class="btn btn-info">S'inscrire</button>
      </div>
    </form>
  </main>
</body>

</html>